body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fce4ec; /* Light Pink Background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
}

.container {
    max-width: 600px;
    text-align: center;
    background-color: #fff; /* White Container Background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box Shadow for Container */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff4081; /* Pink Button Background */
    color: #fff; /* White Text Color */
    border: none;
    border-radius: 5px;
}

p {
    font-size: 18px;
    color: #ff4081; /* Pink Text Color */
}

/* Media Query for Mobile View */
@media (max-width: 600px) {
    .container {
        margin: 30px; /* Adjust the padding for mobile view */
    }
}
